.crud {
    width: 16px;
    height: 16px;
}

table.grid a {
    color: rgba(40, 41, 39, 0.94); text-decoration: none;
}

table.grid a:hover {
    text-decoration: underline;
}

table.grid {
    border-collapse: collapse; border: 1px solid #CCB;
}

table.grid td,
table.grid th {
    padding: 5px; border: 1px solid #E0E0E0;
}

table.grid th {
    background: #E5E5E5; text-align: left;
}

table.grid td.number {
    text-align: right;
    font-weight: bold;
    padding-right: 5px;
    white-space: nowrap;
}

table.grid td.boolean {
    text-align: center;
}

table.grid th.boolean {
    text-align: center;
}